.user-avatar{
  img{
    width:50px;
    margin:0px 0px 7px 7px;
    border-radius:5px;
    border:1px solid hsl(0, 0%, 90%);
  }
}
img.user-avatar {
  width:50px;
  margin:0px 0px 7px 7px;
  border-radius:5px;
  border:1px solid hsl(0, 0%, 90%);
}
