[data-view='project-list'] {

  .filter-selection {
    form {
      display:inline-block;
      margin-right:15px;
      .multiselect.dropdown-toggle.btn.btn-default {
        background:white;
        border: 1px solid hsl(0, 0%, 80%);
        border-right:none;
        border-radius:0;
        border-top-left-radius:.25rem;
        border-bottom-left-radius:.25rem;
        box-shadow:none;
      }
    }
    .btn {
      padding-left: 12px;
      padding-right: 10px;
      border-left: none;

      border-top-right-radius:.25rem;
      border-bottom-right-radius:.25rem;
      i {
        margin:0;
      }
      &.standalone {
        border-radius:0;
        border-left:1px solid hsl(0, 0%, 80%);
      }
    }
  }
  .project-listing .col-sm-12 {
    padding:0;
  }
  .project-container {
    min-height:100%;
  }
}
@keyframes blink {
  0%,100% { opacity: 0 }
  75% { opacity: 1 }
}
