extends ../layout

block content
  .row.breadcrumbs
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp;
      a(href='/blog') Blog
      | &nbsp;&nbsp;/&nbsp;
      a(href='/blog/new') New
  .page-header.row
    h3 New Blog Post


  form.row.form-horizontal(action='/blog/new', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-sm-3.control-label(for='title') Title
      .col-sm-7
        input.form-control(type='text', name='title', id='title', value=(post ? post.title : ""))
    .form-group.row
      label.col-sm-3.control-label(for='author') Author
      .col-sm-7
        select.form-control.author-select(name='author', id='author')
          option(value='') Publish unattributed
          for author in users
            option(value=author.username, data-img=author.profile.picture, selected=(author.id === user.id))=author.profile.name+' ('+author.username+')'
    .form-group.row
    .form-group.row
      label.col-sm-3.control-label(for='url') Override Url (optional)
      .col-sm-7
        input.form-control(type='text', name='url', id='url')
    .form-group.row
      label.col-sm-3.control-label(for='image') Image URL
      .col-sm-7
        input.form-control(type='text', name='image', id='image')
      .col-sm-4.col-sm-offset-3
    .form-group.row
      label.col-sm-3.control-label(for='date') Published
      .col-sm-7
        .input-group.datepicker(data-provide='datepicker')
          input.form-control(type='text', name='date', id='date')
          label.input-group-addon(for='date')
            i.fa.fa-th
    .form-group.row
      label.col-sm-3.control-label(for='description') Short Description
      .col-sm-7
        input.form-control(type='text', name='description', id='description')
    .form-group.row
      label.col-sm-3.control-label(for='content') Post
      .col-sm-7
        textarea.form-control.simple-mde(name='content', id='content', rows='30')
    .form-group.row
      label.col-sm-3.control-label(for='tags') Tags (seperate with commas)
      .col-sm-7
        input.form-control(type='text', name='tags', id='tags')

    .form-group.row
      .col-sm-2.col-sm-offset-3
        button.btn.btn.btn-primary(type='submit', name='published', value='true')
          i.fa.fa-pencilr
          | Publish
      .col-sm-2
        button.btn.btn.btn-secondary(type='submit', name='published', value='false')
          i.fa.fa-pencilr
          | Save Draft
  block script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/daterangepicker.min.js')
    script.
      $('input#date').daterangepicker({
          singleDatePicker: true,
          showDropdowns: true
      });
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js")
    script.
      $(document).ready(function() {
        var teamSelectSettings = {
          enableHTML: true,
          optionLabel: function(element) {
            if ($(element).attr('data-img')) return '<img class="avatar" src="'+$(element).attr('data-img')+'"> '+$(element).text()
            return $(element).text()
          }
        }
        $('.author-select').multiselect(teamSelectSettings)
      })
